<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
</head>
<body style="background-color: bisque;">
    <div>
        <ul style= "color: black;">
         <li>
            The Secret History
            <img>https://media.gettyimages.com/id/541088654/photo/donna-tartt-2002.webp?s=1024x1024&w=gi&k=20&c=eBw4kx-1Ew4JUzfEbhcelPtIgvHHShmcW8-cWUBHhy8=<img>

         </li>
         <li>Women Talking</li>
         <li>Educated </li>

        </ul>

    </div>
    
</body>
</html>